In [2]:
import pandas as pd
import numpy as np

In [120]:
overview = pd.read_csv('C:/Users/WTA/crawler/Overview.csv')
perform = pd.read_csv('C:/Users/WTA/crawler/Perform.csv')
econ = pd.read_csv('C:/Users/WTA/crawler/Econ.csv')

In [51]:
print(overview)
print(perform)
print(econ)

         Player Team VS_Team     R    ACS   K  D  A  K_D  KAST  ...  TCT  \
0    Churraaaa   MOX  UC.Fem  0.83  192.0   7  7  0    0   50%  ...   CT
1    Coalflake   MOX  UC.Fem  1.36  184.0   7  3  0    4   80%  ...   CT
2     shazmoon   MOX  UC.Fem  0.91  181.0   6  7  3   -1   70%  ...   CT
3          may   MOX  UC.Fem  1.30  229.0   8  6  6    2   80%  ...   CT
4     peixinho   MOX  UC.Fem  0.35  122.0   3  9  2   -6   40%  ...   CT
..          ...  ...     ...   ...    ...  .. .. ..  ...   ...  ...  ...
335    rawfiul   OGS     BLD  1.47  206.0   9  3  1    6   82%  ...   CT
336   Antidote   OGS     BLD  1.05  178.0   7  6  6    1  100%  ...   CT
337       azys   OGS     BLD  1.26  227.0  10  5  1    5   64%  ...   CT
338        RvK   OGS     BLD  0.91   80.0   4  4  1    0   73%  ...   CT
339  tesseract   OGS     BLD  1.02  302.0  11  9  3    2   91%  ...   CT

          Map  RunTime  First_half  Second_half Conti_score Extended_round  \
0       Pearl  1:12:22           9            4           2              0
1       Pearl  1:12:22           9            4           2              0
2       Pearl  1:12:22           9            4           2              0
3       Pearl  1:12:22           9            4           2              0
4       Pearl  1:12:22           9            4           2              0
..        ...      ...         ...          ...         ...            ...
335  Fracture    53:05           4            6           3              0
336  Fracture    53:05           4            6           3              0
337  Fracture    53:05           4            6           3              0
338  Fracture    53:05           4            6           3              0
339  Fracture    53:05           4            6           3              0

    Score  Winner  data_game_id
0      13       0        133573
1      13       0        133573
2      13       0        133573
3      13       0        133573
4      13       0        133573
..    ...     ...           ...
335    10       0        133756
336    10       0        133756
337    10       0        133756
338    10       0        133756
339    10       0        133756

[340 rows x 25 columns]
        Player Team  Op_kill  2K  3K  4K  5K  1v1  1v2  1v3  1v4  1v5  ECON  \
0    Churraaaa  MOX        0   4   2   1   0    0    0    0    0    0    78
1    Coalflake  MOX        0   2   1   0   0    0    0    0    0    0    59
2          may  MOX        0   0   1   0   0    0    0    0    0    0    42
3     shazmoon  MOX        0   2   1   0   0    1    0    0    0    0    36
4     peixinho  MOX        0   3   0   0   0    1    0    0    0    0    47
..         ...  ...      ...  ..  ..  ..  ..  ...  ...  ...  ...  ...   ...
163   Antidote  OGS        0   1   0   0   0    0    0    0    0    0    44
164       azys  OGS        0   2   1   1   0    0    0    0    0    0    46
165        RvK  OGS        0   2   0   0   0    0    0    0    0    0    39
166    rawfiul  OGS        7   4   1   1   0    0    0    0    0    0    77
167  tesseract  OGS        0   4   0   0   0    0    0    0    0    0    50

     PL  DE  data_game_id
0     0   1        133573
1     0   2        133573
2     3   0        133573
3     5   1        133573
4     0   1        133573
..   ..  ..           ...
163   5   2        133756
164   1   1        133756
165   0   0        133756
166   2   1        133756
167   0   0        133756

[168 rows x 16 columns]
      Team  Pistol  Eco  Eco won  Semi_eco  Semi_eco won  Semi_buy  \
0      MOX       2    2        2         1             0         4
1   UC.Fem       0    4        1         0             0         3
2      MOX       2    2        2         0             0         4
3   UC.Fem       0    4        0         2             0         5
4      WLG       1    3        2         1             1         2
5       OP       1    2        1         3             0         7
6      WLG       0    4        0         2             0         6
7       OP       2    2        2         0             0         5
8      WLG       2    2        2         5             4         3
9       OP       0    2        0         3             2         8
10     WLG       1    4        1         1             0         2
11      OP       1    2        1         1             0         9
12     FCY       1    3        1         0             0         6
13     XIA       1    3        1         1             1         6
14     FCY       1    3        1         1             1        10
15     XIA       1    3        1         1             0         7
16      B8       1    2        1         2             0         6
17  DEMURY       1    3        1         1             0         8
18      B8       1    3        1         1             0         4
19  DEMURY       1    3        1         1             0         9
20      B8       2    2        2         1             0         4
21  DEMURY       0    4        0         0             0         6
22     ONE       2    2        2         2             0         7
23     BME       0    4        0         1             0         1
24     ONE       2    2        2         1             1         5
25     BME       0    5        0         3             2         2
26     ONE       2    2        2         1             0         6
27     BME       0    4        0         0             0         3
28     BLD       2    2        2         0             0         4
29     OGS       0    4        0         3             0         3
30     BLD       2    2        2         2             0         6
31     OGS       0    4        2         1             0         4
32     BLD       1    2        1         1             0         7
33     OGS       1    3        1         2             1         3

    Semi_buy won  Full_buy  Full_buy won  data_game_id
0              1        15            10        133573
1              2        15             6        133573
2              2        10             9        133574
3              2         5             1        133574
4              1        13             9        133673
5              2         7             3        133673
6              3         4             0        133674
7              3         9             8        133674
8              2        12             5        133675
9              4         9             3        133675
10             1        12            11        133676
11             4         7             1        133676
12             5         8             7        133730
13             1         7             1        133730
14             8         6             3        133731
15             2         9             4        133731
16             4        13             8        133812
17             3        11             6        133812
18             4        16             8        133813
19             6        11             4        133813
20             3        12             8        133814
21             2         9             4        133814
22             3        11             4        133727
23             1        16            12        133727
24             3        11             7        133728
25             2         9             2        133728
26             4        12             7        133729
27             1        14             7        133729
28             3        13             8        133754
29             2         9             4        133754
30             2        16             8        133755
31             2        17            10        133755
32             4        13             8        133756
33             3        15             5        133756

In [106]:
print(overview['Player'][0],len(overview['Player'][0]))
print(perform['Player'][0],len(perform['Player'][0]))
print(overview['Player'][0]==perform['Player'][0])

Churraaaa 9
Churraaaa 9
True

In [91]:
def remove_space(df):
    df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    return df

In [121]:
overview= remove_space(overview)
overview = overview.drop(['Team'],axis=1)
perform = remove_space(perform)
econ = remove_space(econ)

In [122]:
columns = ['Player', 'VS_Team', 'R', 'ACS', 'K', 'D', 'A', 'K_D', 'KAST', 'ADR', 'HS%', 'FK', 'FD', 'FK_FD', 'TCT', 'Map', 'RunTime', 'First_half', 'Second_half', 'Conti_score', 'Extended_round', 'Score', 'Winner', 'Op_kill', '2K', '3K', '4K', '5K', '1v1', '1v2', '1v3', '1v4', '1v5', 'ECON', 'PL', 'DE', 'Team', 'Pistol', 'Eco', 'Eco won', 'Semi_eco', 'Semi_eco won', 'Semi_buy', 'Semi_buy won', 'Full_buy', 'Full_buy won', 'data_game_id']
df = pd.DataFrame(columns = columns)

In [126]:
df1 = pd.merge(overview,perform,on=['Player','data_game_id'],how='outer')
df = pd.merge(df1,econ,on=['Team','data_game_id'],how='outer')

In [127]:
print(df)

        Player VS_Team     R    ACS     K    D    A  K_D KAST    ADR  ...  \
0    Churraaaa  UC.Fem  0.83  192.0   7.0  7.0  0.0  0.0  50%   98.0  ...
1    Churraaaa  UC.Fem  1.88  369.0  15.0  7.0  5.0  8.0  92%  265.0  ...
2    Coalflake  UC.Fem  1.36  184.0   7.0  3.0  0.0  4.0  80%  127.0  ...
3    Coalflake  UC.Fem  1.15  181.0   8.0  6.0  4.0  2.0  83%  127.0  ...
4     shazmoon  UC.Fem  0.91  181.0   6.0  7.0  3.0 -1.0  70%  124.0  ...
..         ...     ...   ...    ...   ...  ...  ...  ...  ...    ...  ...
340        NaN     NaN   NaN    NaN   NaN  NaN  NaN  NaN  NaN    NaN  ...
341        NaN     NaN   NaN    NaN   NaN  NaN  NaN  NaN  NaN    NaN  ...
342        NaN     NaN   NaN    NaN   NaN  NaN  NaN  NaN  NaN    NaN  ...
343        NaN     NaN   NaN    NaN   NaN  NaN  NaN  NaN  NaN    NaN  ...
344        NaN     NaN   NaN    NaN   NaN  NaN  NaN  NaN  NaN    NaN  ...

      DE  Pistol  Eco  Eco won Semi_eco Semi_eco won Semi_buy  Semi_buy won  \
0    1.0     2.0  2.0      2.0      1.0          0.0      4.0           1.0
1    1.0     2.0  2.0      2.0      1.0          0.0      4.0           1.0
2    2.0     2.0  2.0      2.0      1.0          0.0      4.0           1.0
3    2.0     2.0  2.0      2.0      1.0          0.0      4.0           1.0
4    1.0     2.0  2.0      2.0      1.0          0.0      4.0           1.0
..   ...     ...  ...      ...      ...          ...      ...           ...
340  NaN     0.0  4.0      1.0      0.0          0.0      3.0           2.0
341  NaN     0.0  4.0      0.0      2.0          0.0      5.0           2.0
342  NaN     1.0  3.0      1.0      1.0          0.0      8.0           3.0
343  NaN     1.0  3.0      1.0      1.0          0.0      9.0           6.0
344  NaN     0.0  4.0      0.0      0.0          0.0      6.0           2.0

     Full_buy  Full_buy won
0        15.0          10.0
1        15.0          10.0
2        15.0          10.0
3        15.0          10.0
4        15.0          10.0
..        ...           ...
340      15.0           6.0
341       5.0           1.0
342      11.0           6.0
343      11.0           4.0
344       9.0           4.0

[345 rows x 47 columns]

In [102]:
df.to_csv('C:/Users/WTA/crawler/df.csv',index=False)